
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
a{
  color: rgba(82,179,217,0.9);
}

.ChatContainer{
    display: flex;
    text-align: left;   
}

.UserList{
    flex: 0 0 30%;    
}

.UserList select {
    width: 95%;
    height: 200px;
}

.MessageContainer{
    overflow-y: auto;
}

.MessageContainer p {
    margin: 0 5px 2px 0;
}

.InputContainer{
    flex-grow: 1;
    justify-content: flex-start;    
    margin-right: 1em;
}

.MyMessage  {
    text-align: right;   
}

.InputContainer textarea{
    margin-top: 1em;
    width: 100%;
    box-sizing: border-box;
}

.InputContainer .MessageContainer{
    height: 200px;
}